include COPYING.txt NEWS.txt INSTALL.txt README.txt
recursive-include data *.ini
recursive-include data *.ui
recursive-include data *.png
recursive-include data *.ico
recursive-include data *.css
include data/report/*.css
include data/report/*.html
